build/
*.so
*.a

nn/
python/CMakeFiles/
__pycache__
python/cmake_install.cmake
python/Makefile
python/ray_results
python/vae_result

frames/

# CLion related
.idea/
cmake-build-*/

# lsp-server related
compile_commands.json
.clangd/
.cache/

# Ray related
ray_results/
prev_ray_results/

# C++ and Python packages
rollout/*

# SLURM output
slurm-*.out

# Error Log 
error_log.txt

tmp/
.tmp/
*temp/
distillation/
experiments/

screenshots
Clustering/


uniform

python/fgn_network/*

previous_rollout/*


imgui.ini
.venv

*.egg-info/
.serena/

augment/
augment_test/

results/
sampled/
uv.lock
render.yaml
runs/
benchmark_results/
prev/